  
  header{
   
    
    background-color:rgb(204, 81, 81);
    block-size: 90px;
    border-radius: 10px;
    
    
    }
    div{
      overflow:hidden;
      
      zoom:75%;
      
    }
  .head img {
        float: left;
        width: 80px;
        height: 80px;
        background:rgb(204, 81, 81);
        padding-left: 20px;
        padding-top: 1%;
        
      }
      
  .head h1 {
        position: relative;
        top: 1%;
        left: 30px;
        color: white;
        font-size: 55px;
        font-style:inherit ;
        margin-top: 1.2%;
       }
       html { 
        background: url(depa.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
  .topnav {
    overflow: hidden;
    background-color: rgb(218, 214, 218);
    border:0px;
    border-radius: 10px;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    font-size: 28px;
    font-family: Sans-serif ;
    border-radius: 10px;
    border: 0px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right : 40px;
    
  }
    
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(253, 252, 252);
    color: black;
    font-weight: bold; 
   
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
    
  }
  
  /* Style the search box inside the navigation bar */
  input[type=text] {
    position:absolute;
    text-align :left ;
    float: right;
    width: 280px;
    padding: 10px 16px ;
    border: none;
    margin-top: 12px;
    margin-right: 50px;
    font-size: 19px ;
    border-radius: 16px;
    font-family: Sans-serif;
    outline: 0px;
  } 
  .Departments  {
    
    font-family: Arial;
    height :50px;
    font-size: 28px;
    outline:none;
    border-radius: 15px;
    border: none;
    text-align:justify  ;
    margin-top: 10px;
    margin-left: 50px;
    
  }
  
  .topnav .Departments:hover {
    background-color: rgb(253, 252, 252);
    color :rgb(167, 60, 60);
    font-weight: bold; 
    
    
    
  }
  h2{
    position: relative;
     text-align: center;
     margin-top: 2%;
     font-size: 100px;
     font-style:inherit ;
     color :rgb(204, 81, 81);
  }
  
      
  .image {
        position: relative;
        text-align: right;
        padding-top: 0.5%;
        padding-bottom: 150px;
        margin-top: 0px;
        margin-right: 2%;
         

      }
   
 
  
 
  
  /* When the screen is less than 600px wide, stack the links and
   the search field vertically instead of horizontally */
   @media screen and (max-width: 600px) {
    .Departments,.topnav input, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      margin: 0;
      padding: 14px;
     
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
      
    }
  }
  footer{
    position:fixed;
    color: #ccc;
    padding-left: 1%;
    font-size: 18px;
    font-family: Sans-serif ;
    font: bold;
    
  }
  .adding{
  text-align: center;
  
  }
  #f1{
    position: relative;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    padding: 1% 1%;
    outline: none;
    font:23px bold ;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30% 20% 1% 25%;
    cursor: pointer;
    
  }
  #f2{
    position: relative;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    padding: 1% 1%;
    outline: none;
    font:23px bold ;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 20% 15% 1% 1%;
    
  }
  #f3{
    border-radius: 10px;
    text-align: center;
    background-color: white;
    padding: 1% 1%;
    outline: none;
    font:23px bold ;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% 1% 1% 42%;
    cursor: pointer;
  }
  #f1:hover, #f2:hover, #f3:hover {
    background-color: rgb(253, 204, 241);
    color :rgb(167, 60, 60);
    font-weight: bold; }

    td {
      vertical-align: top;
  }
  #table1, #table2, #table3, #table4 {
      display: none;
  }
   



#person ul {
    list-style: none;
}

#person li {
    padding: 5px 10px;
}

#person li label {
    float: left;
    width: 50px;
    margin-top: 3px;
}

#person li input[type="text"] {
    border: 1px solid #999;
    padding: 3px;
    width: 180px;
}  
table{
  
  font-size:30px;
  font:bold;
  text-align: center; 
  padding-left: 20%;
  color: red;
}
table.insertRow{
  color: #2196F3; 
}